body {
    margin: 0;
    padding: 0; 
    background-color: #e4fae7;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}
header {
    background-color: #98c09d;
}
h1 {
    color: #0a5a15; 
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-style: normal; 
    font-weight: 600;
    font-size: 3.5em; 
    border-bottom: 1px solid #0a5a15;
    margin: 0 0%;
}

h2 { 
    color: #0a5a159a; 
    font-size: 5em;
    border-bottom: 1px solid #0a5a15;
    margin: 0 30%;
}

h3 {
    color: rgba(0, 0, 0, 0.301);
    margin: 0 5%;
    text-align: left;
}
h4 {
    color: #0a5a15c0;
    margin: 0 5%;
    text-align: left;
    font-size: 2em;
}
footer {
    background-color: #98c09d;
    border-top: 1px solid #0a5a15;
    text-align: center;
    padding-top: 1em;
}
footer img {
    width: 40px;
    height: 40px;
    margin-left: .5em;
    margin-right: .5em;
}
nav {
    word-spacing: 1em;
    text-align: center;
    font-size: 1.2em;
}
fieldset {
    border-color: #98c09d52;
    background-color: #98c09d2c;
    margin: 0 5%;
}
li {
    font-size: 1.1em;
    margin: 0 5%;
    text-align: left;
}
a.highlight:hover {
    color: #0026ff;
}